DATABASE_URL=postgresql://filmuser:filmpass@db:5432/filmdb
SECRET_KEY=buraya-gizli-anahtar-yaz-en-az-32-karakter
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=24
TMDB_API_KEY=buraya_tmdb_read_access_token_yapistir
GROQ_API_KEY=buraya_groq_api_key_yapistir
