# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
.DS_Store

# Alembic
# (alembic klasörü commit edilir, sadece venv hariç)

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
